/* Autor: Jovan Nikolic */

* {
	margin: 0;
}

#goresredina a {
	color: #97BADA;
	text-decoration: none;
	display: block;
}

#gore {
	background: linear-gradient(#72A9CD, #0E1339); 
	height: 20%;
	color: #97BADA;
	/*border-top-left-radius: 4vh; 
	border-top-right-radius: 4vh; */
}

#gorelevo {
	position: relative;
	top: 17.5%;
	left: 5%;
	float: left;
	height: 82.5%;
	width: 70%;
	font-size: 5vh;
	text-align: left;
}

#goresredina {
	position: relative;
	top: 40%;
	float: left;
	height: 60%;
	width: 20%;
	font-size: 2.5vh;
	text-align: right;
}

#goresredina img {
	position: relative;
	top: 10%;
	width: 10%;
	height: 30%;
	color: #97BADA;
}

#goredesno {
	float: left;
	height: 100%;
	width: 10%;
}

#goredesno img {
	position: relative;
	top: 12.5%;
	left: 12.5%;
	height: 75%;
	width: 75%;
}

#meni {
	background: linear-gradient(#FF9400, #FFD79F, #FFD79F); 
	height: 5%;
	font-size: 2.5vh;
	font-weight: bold;
	color: #FF9400;
	text-align: center;
}

#stavkamenija {
	position: relative;
	top: 40%;
	float: left;
	width: 25%;
	height: 70%;
}

#stavkamenijaurednik {
	position: relative;
	top: 40%;
	float: left;
	width: 20%;
	height: 70%;
}

#stavkamenijaadmin {
	position: relative;
	top: 40%;
	float: left;
	width: 33.33%;
	height: 70%;
}

#meni a {
	color: #FF9400;
	text-decoration: none;
	display: block;
}

/*
input[type="button"]  {
	width: 20%;
	background-color: #97BADA;
	/*border-color: #173A5A;
	border: 0;
	border-radius: 1.5vh;
	color: #173A5A;
	margin: -0.5vh;
}

input[type="text"], input[type="password"]  {
	width: 45%;
	background-color: white;
	border: 0;
	/*border-color: #173A5A;
	border-radius: 1.5vh;
	color: #173A5A;
	text-align: center;
	margin: 0.5vh;
}

select {
	border: 0;
	color: #173A5A;
}

::-webkit-input-placeholder {
   color: #173A5A;
}

#pol, #godiste {
	position: relative;
	left: 26.5%;
	width: 45%;
	background-color: white;
	border: 0;
	/*border-color: #173A5A;
	border-radius: 1.5vh;
	color: #173A5A;
	text-align: center;
	margin: 0.5vh;
}
*/
#sredina {
	height: 70%;
	text-align: center;
}

#sredinagore {
	height: 95%;
}

#sredinadole {
	height: 5%;
}

#podaci input[type="text"] {
	width: 50%;
}

#sredina input[type="text"], #sredina input[type="password"] {
	width: 15%;
	background-color: white;
	/*border: 0;*/
	border-color: #FF9400;
	border-radius: 1.5vh;
	color: #173A5A;
	text-align: center;
	margin: 0.5vh;
}

#podaci input[type="text"], #podaci input[type="password"]  {
	width: 30%;
}

#sredina select {
	border-color: #FF9400;
	border-radius: 1.5vh;
}

form button, #podaci button, #podaciurednik button {
	width: 10%;
	height: 5%;
	background: linear-gradient(#FF9400, #FFD79F, #FFD79F, #FF9400);
	border: 0;
	border-radius: 1.5vh;
	color: #173A5A;
	font-size: 2.5vh;
	color: #FF9400;
	border-radius: 10vh;
}

#podaci button{
	width: 20%;
	height: 7.5%;
}

#podaciurednik button {
	width: 10%;
	height: 7.5%;
}

input[type="button"], input[type="submit"], #brisinalog {                    /*DODATO ZA SUBMIT*/
	width: 10%;
	height: 95%;
	background: linear-gradient(#FF9400, #FFD79F, #FFD79F, #FF9400);
	border: 0;
	border-radius: 1.5vh;
	color: #173A5A;
	margin: -0.5vh;
	font-size: 2.5vh;
	color: #FF9400;
	border-radius: 10vh;
}

#post {
	position: relative;
	left: 25%;
	top: 5%;
	width: 50%;
	border: solid #FF9400;
	border-radius: 2.5vh;
}

#post input[type="button"] {
	width: 20%;
	height: 5%;
	background: linear-gradient(#FF9400, #FFD79F, #FFD79F, #FF9400);
	border: 0;
	border-radius: 1.5vh;
	color: #173A5A;
	font-size: 2.5vh;
	color: #FF9400;
	border-radius: 10vh;
}

#sredina textarea {
	display: none;
	width: 50%;
	height: 15%;
	border: solid #FF9400;
	border-radius: 2.5vh;
	text-align: center;
}

#sredinalevo {
	width: 50%;
	float: left;
	position: relative;
	top: 25%;
}

#sredinadesno {
	width: 50%;
	float: left;
	position: relative;
	top: 5%;
}

#sredinal1 {
	width: 50%;
	float: left;
	position: relative;
	top: 2.5%;
} 

#sredinadole {
	position: relative;
	top: 5%;
}

#sredinadole #sredinal2, #sredinadole #sredinal3 {
	width: 25%;
	float: left;
}

#sredinad1 {
	width: 50%;
	float: left;
	position: relative;
	top: 2.5%;
}

#sredinad2{
	width: 50%;
	float: left;
	position: relative;
	top: 5%;
}

#sredina1 {
	width: 33.33%;
	float: left;
	position: relative;
	top: 25%;
}

#sredina2, #sredina3 {
	width: 33.33%;
	float: left;
	position: relative;
	top: 5%;
}

#sredina2 input[type="text"], #sredina3 input[type="text"] {
	width: 50%;
}

#sredinal2 input[type="text"], #sredinal3 input[type="text"] {
	width: 50%;
}

#sredinad2 input[type="text"] {
	width: 25%;
}


/*
#sredinagore {
	position: relative;
	top: 10%;
	height: 40%;
	width: 100%;
	/*background-color: red;
}

#sredinagore a {
	color: #FF9400;
	text-decoration: none;
}

#sredinadole {
	position: relative;
	top: 25%;
	height: 25%;
	width: 100%;
	/*background-color: yellow;
}

#sredinadole a {
	background: linear-gradient(#FF9400, #FFD79F, #FFD79F, #FF9400);
	font-size: 5vh;
	text-decoration: none;
	color: #FF9400;
	padding: 5%;
	border-radius: 10vh;
}
*/

#dole {
	/*background: linear-gradient(#68E32D, #C6E1B8, #C6E1B8);*/
	background: linear-gradient(#C6E1B8, #C6E1B8, #68E32D);
	height: 5%;
	color: #68E32D;
	font-weight: bold;
	font-size: 2.5vh;
	/*border-bottom-left-radius: 2vh; 
	border-bottom-right-radius: 2vh; */
}

#dolelevo {
	float: left;
	height: 100%;
	width: 50%;
	text-align: right;
}

#dolelevo img {
	height: 100%;
	width: 10%;
}

#doledesno {
	position: relative;
	/*top: 40%;*/
	top: 10%;
	float: left;
	height: 85%;
	width: 50%;
	text-align: left;
}

#podacinaslovurednik {
	height: 20%;
	width: 100%;
	float: left;
	position: relative;
	top: 10%;
	font-size: 4vh;
}

#podacinaslov {
	height: 20%;
	width: 50%;
	float: left;
	position: relative;
	top: 10%;
	font-size: 4vh;
}

#statistikanaslov {
	height: 20%;
	width: 50%;
	float: left;
	position: relative;
	top: 10%;
	font-size: 4vh;
}

#podaciurednik {
	height: 57%;
	width: 100%;
	position: relative;
	top: 15%;
	float: left;
}

#podaci {
	height: 57%;
	width: 50%;
	position: relative;
	top: 15%;
	float: left;
}

#statistika {
	height: 42%;
	width: 50%;
	position: relative;
	top: 30%;
	float: left;
}

#pitanje{
	position: relative;
	left: 40%;
	width: 30%;
	text-align: left;
}

#obavestenje {
    position: fixed;
    top: 1%;
    right: 40%;
    width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
    /*border: solid #FF9400;*/
	border: solid #173A5A;
	border-radius: 1.5vh;
	background-color: white;
	text-align: center;
	color: #173A5A;
}

#obavestenje button{
	/*position: absolute;
    top: 60%;
    left: 30%;*/
	width: 40%;
	height: 25%;
	/*background: linear-gradient(#FF9400, #FFD79F, #FFD79F, #FF9400);*/
	background: linear-gradient(#173A5A, #97BADA, #97BADA, #173A5A);
	border: 0;
	border-radius: 1.5vh;
	color: #173A5A;
	font-size: 2.5vh;
	/*color: #FF9400;*/
	border-radius: 10vh;
}

#slikalink{
	cursor: pointer;
}
